header {
  padding: 2rem $gutter;
  h1 {
    font-size: 2rem;
  }
}

main {
  h1 {
    text-align: left;
  }
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  gap: $gutter;
  section {
    flex-basis: calc(50% - ($gutter/2));
  }
}

footer div.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
