/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $baseFontFamily;
  height: 100%;
  font-weight: $base;
  font-size: 16px;
}

#headerWrapper {
  background-color: #08415c;
}

header {
  display: flex;
  align-items: center;
  padding: 10px $gutter;
  gap: 10px;
  h1 {
    font-family: $displayFontFamily;
    font-size: 1.7rem;
    padding-top: 5px;
    font-weight: $base;
    margin: 0;
    color: #f1f1f1;
  }
}

#navWrapper {
  background-color: $menuColor;
}

nav {
  button {
    background: transparent;
    border: none;
    font-size: 1.6rem;
    padding: 0.5rem;
    color: white;
    padding-left: 14px;
  }

  ul {
    display: none;
    margin: 0;
    font-family: $displayFontFamily;
    list-style-type: none;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    padding-left: 0px;
    li.active a {
      background-color: darken($menuColor, 18%);
    }
  }

  ul.open {
    display: block;
  }

  ul li a:hover {
    background-color: darken($menuColor, 4%);
  }

  li {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    a {
      display: block; // this is to be able to apply padding
      text-decoration: none;
      color: rgba(255, 255, 255, 0.9);
      padding: 0.9rem;
    }
  }
}

main {
  padding: 0 $gutter;
  h1 {
    color: $darkBlue;
    font-family: $displayFontFamily;
    font-size: 2.3rem;
    text-align: center;
  }
}

// CARDS SECTION * * *

.allCards {
  margin-bottom: 50px;

  section {
    border: 2px solid #ababab;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 1rem;

    h2,
    p,
    img {
      margin: 0 auto;
      padding: 1rem $gutter;
    }

    h2 {
      background-color: $darkBlue;
      color: #f1f1f1;
      font-family: $displayFontFamily;
      font-weight: 100;
      font-size: 1.7rem;
      text-align: center;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 300px;
      display: block;
    }

    img.bdr {
      border-radius: 30px;
    }

    p {
      color: $darkBlue;
      text-align: center;
    }
    a {
      display: block;
      background-color: $truckRed;
      padding: 0.75rem;
      text-align: center;
      margin: 0 3rem 1rem;
      border-radius: 10px;
      color: white;
      text-decoration: none;
    }
  }
} // end allCards

#footerWrapper {
  background-color: $darkBlue;
}

// MAIN FOOTER ELEMENT
footer {
  padding: 0.7rem $gutter;
  color: white;
  padding: 2rem 1rem;
  section {
    padding: 5px;
  } // END MAIN FOOTER ELEMENT

  // START FOOTER CONTECT SECTION
  div.contact {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;

    p {
      font-size: 1rem;
      margin: 0.4rem;
      a {
        color: white;
      }
    }
    ion-icon {
      color: lightgray;
      font-size: 1.4rem;
      padding-right: 5px;
      margin-bottom: -3px;
    }
  } // END FOOTER CONTACT SECTION

  // START FOOTER SOCIAL ICONS SECTION
  div.social {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    a {
      display: block;
      border: 1px solid #b5ffe1;
      border-radius: 5px;
      font-size: 2rem;
      margin: 0.5rem;
      padding: 0.44rem;
      color: #b5ffe1;
      padding-top: 15px;
    }
  } // END FOOTER SOCIAL ICONS SECTION

  // START FOOTER ADDRESS SECTION
  div.location {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  } // END FOOTER ADDRESS SECTION

  // START FOOTER COPYRIGHT SECTION
  p.legal {
    text-align: center;
    margin: 0;
    font-weight: $extraLight;
  }
} // END FOOTER COPYRIGHT SECTION
