$baseFontFamily: "Poppins", cursive;
$displayFontFamily: "Luckiest Guy", cursive;
$extraLight: 200;
$light: 300;
$base: 400;
$bold: 500;
$extraBold: 600;
$black: 700;

$menuColor: #cc2936;

$moonstone: #46acc2;
$aqua: #42f2f7;
$darkTeal: #498c8a;
$gray: #d0ccd0;
$pinkBlkTxt: #ff5964;
$redWteTxt: #f50049;
$orange: #faa916;
$eerieBlack: #1b1b1e;

$truckRed: #cc2936;
$darkBlue: #08415c;

$gutter: 16px;
